{% extends 'base.html' %}

{% block content %}

    <h1>{% block title %} Aktuella brott {% endblock %}</h1>
    <p>Visar inrapporterade brott från polisen</p>
    <br>
    <div class="form-outline">
        <input type="text" id="form1" class="form-control"/>
        <label class="form-label" for="form1">Filtrera</label>
      </div>
      <br>
      <div class="dropdown">
        <button
          class="btn btn-default dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          Kommun
        </button>
        <br>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Strängnäs</a></li>
          <li><a class="dropdown-item" href="#">Sollentuna</a></li>
          <li><a class="dropdown-item" href="#">Stockholm</a></li>
        </ul>
      </div>
      <br>
    <table id = "crime_table" class="table">
        <thead class = "thead-dark">
          <tr>
            <th scope="col">Tid</th>
            <th scope="col">Rubricering</th>
            <th scope="col">Sammanfattning</th>
            <th scope="col">Detaljer</th>
            <th scope="col">Kommun</th>
            <th scope="col">Länk</th>
          </tr>
        </thead>
        <tbody>
        {% for crime in crimes %}
        <tr>
        <td>{{crime['Datetime']}}</td>
        <td>{{crime['Type']}}</td>
        <td>{{crime['Summary']}}</td>
        <td>{{crime['Details']}}</td>
        <td>{{crime['Location']}}</td>
        <td><a href="{{crime['Link']}}">Länk</a></td>
        </tr>
        {% endfor %}
        <!------
          <tr>
            <td>Onsdag 8.43</td>
            <td>Skjutning</td>
            <td>Testar sammanfattning</td>
            <td>Testar detaljer</td>
            <td>Testar Kommun</td>
            <td>Testar Länk</td>
          </tr>
        ---->
        </tbody>
      </table>

{% endblock %}

