{% extends 'base.html' %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"> </script>
{% block content %}
    <h1>{% block title %} Aktuella brott {% endblock %}</h1>
    <div class="input-group">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control" >
          <label class="form-label" for="form1">Search</label>
        </div>
      </div>
      <br>
    <table id = "crime_table" class="table">
        <thead class = "thead-dark">
          <tr>
            <th scope="col">Tid</th>
            <th scope="col">Rubricering</th>
            <th scope="col">Sammanfattning</th>
            <th scope="col">Detaljer</th>
            <th scope="col">Kommun</th>
            <th scope="col">Länk</th>
          </tr>
        </thead>
        <tbody>
        {% for crime in crimes %}
        <tr>
        <td>{{crime['Datetime']}}</td>
        <td>{{crime['Type']}}</td>
        <td>{{crime['Summary']}}</td>
        <td>{{crime['Details']}}</td>
        <td>{{crime['Location']}}</td>
        <td>{{crime['Link']}}</td>
        </tr>
        {% endfor %}
        <!------
          <tr>
            <td>Onsdag 8.43</td>
            <td>Skjutning</td>
            <td>Testar sammanfattning</td>
            <td>Testar detaljer</td>
            <td>Testar Kommun</td>
            <td>Testar Länk</td>
          </tr>
        ---->
        </tbody>
      </table>

{% endblock %}

